@font-face {
    font-family: 'Droid Serif';
    src: url('fonts/Droid_Serif/DroidSerif-Regular.ttf');
}

@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/Droid_Sans/DroidSans-Regular.ttf');
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}