body {
    font-family: 'Droid Serif';
}

h1,
h2,
h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.title-logo img {
    width: 25%;
}

#slide-agenda {
    &>ol>li {
        margin-bottom: 1em;
    }

    code {
        opacity: .5;
    }
}