$secondary-text-color: #444;
body {
    font-family: 'Droid Serif';
}

h1,
h2,
h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

h1+h2 {
    margin-top: -1em;
    font-size: 35px !important;
    color: $secondary-text-color;
}

.addendum {
    font-size: 0.8em;
    color: $secondary-text-color;
}

.full-width>img {
    width: 100%;
}

.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.title-logo img {
    width: 25%;
}

#slide-agenda {
    &>ol>li {
        margin-bottom: 1em;
    }
    code {
        opacity: .5;
    }
}

.areas img {
    width: 50%;
}